body{
  margin:100px;
  padding: 25px;
  text-align: center;
  font-size: 1em;
  font-family: barlow;
  font-weight: bold;
}
h1{
    font-size: 5em;
    margin: 5px;
     font-family: barlow;
     
}
label{
    font-size: 5em;
    font-weight: bold;
    
}

input{
    margin-left: 10px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 5em; 
    width:70%;
    text-align: center;
    border-top: 0cap;
    border-left: 0cap;
    border-right: 0cap;
    overflow: visible;
}  

button{
    background-color: white;
    border: 0cap;
    font-size: 3em;
    
}
