
#body1 {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #353535 ;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

#header{
    width: 100%;
    display: flex;
    position: fixed;
    background-color: var(--color2);
    
    height: 50px;
    list-style-type: none;
    
}



.nav-bar {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: var(--color2);
    padding: 12px 20px;
    height: 50px;
    
    
    list-style-type: none;
}

.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 20px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-size: x-large;
    
}


.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.75rem;
    
}


.open-menu {
    top: 58%;
    left: 24px;
    transform: translateY(-100%);
    
}

.close-menu {
    top: 35px;
    left: 30px;
    
}

#check {display: none;}
/*@media(max-width: 100rem){
    .menu {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 20px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {left: 0;}
}*/
 .menu {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
.menu li{
    margin-top: 20px;
    list-style: none;
    text-align: left;
    width: 100%;
}
    .menu li {margin-top: 20px; /*background-color: red;*/;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {left: 0;}
    



#addPeople{

  cursor: pointer;
  display: flex;
  border-style: none;
  position: fixed;
  background-color: transparent;
  color: #f2f2f2;
  font-size: 2rem;
  margin-left: -60px;
  margin-top: 10px;

}


/*not header starts*/


#addbutton{

 background-color: var(--color2);
  position: fixed;
  bottom: 0;
  width: 100rem;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
}

#secondAddButton{

  float: center;
  height: 70%;
  background-color: rgba(241, 241, 241, 0.5);
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 17px;
  border: none;
  position: absolute;
  top: 50%;
  width: 40px;
  transform: translateY(-50%);
  left: 50%;
}


#secondAddButton:active{
  background-color: #ddd;
  color: rgb(152, 152, 152);
}

#secondAddButton:hover{
  background-color: #ddd;
  color: rgb(152, 152, 152);
}

:root{ 
  --primary-color: #3498db; 
  --secondary-color: #2e7dcc; 
  --background-color: #ecf0f1; 
  --text-color: #2c3e50; 
  --border-radius: 5px;
}

#body2{ 
  margin: 1; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: Poppins, sans-serif;
}
.instructions{ 
  text-align: center; 
  padding: 1.4rem 0; 
  background-color: whitesmoke; 
  font-weight: 600;
}

mark{ 
  padding: 2px .7em; 
  border-radius: .4em; 
  background-color: gold;
}

.timeline-wrapper{ 
  position: relative;
  max-width: 100rem; 
  height:88vh; 
  display:flex; 
  justify-content: flex-start; 
  align-items: center;
  width: 0%; 
  margin:  auto; 
 }

.timeline { /*the dots and text above dots*/
  position: absolute; 
  height: .12rem; 
  padding: 0 4rem; 
  background-color: #000000; 
  list-style-type: none;
  --scale: 1;
  display:flex;
  
}

.timeline li { /* controls the spacing of the list*/
  position: relative;
  width: 20rem; 
} 

.lala{
    position: relative;
  width: 20rem; 
  
} 

.timeline li::before,
.timeline li::after,
.data,
.timeline li .title{ 
  position: absolute; 
  content: ""; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%) scale(var(--scale)); 
  transition: .5s ease-in-out;
}


.timeline li::before { /*the line connected to the dots*/
  content: "";
  top: 1rem; 
  display: inline-block; 
  width: 0.12rem; 
  height: 1rem; 
  background-color: #000000;
}

.timeline li:hover:before{ 
  color: var(--primary-color);
}

.timeline li:nth-child(even)::before{ 
  top: -1rem;
}

ul.timeline{
  height: 5px;
}
.timeline li::after { 
  content: attr(data-date); 
  top: -3.4rem;
}

.timeline li:nth-child(odd)::after{ 
  top: 3.4rem;
}

.timeline li:hover:after,.timeline li .title{ 
  color: var(--primary-color);
}

.timeline li .title { 
  /*position: absolute; 
  top: -2.5rem; 
  left: 50%; 
  transform: translateX(-50%); 
  font-weight: 600; 
  color: var(--text-color);*/
 top: 2.4rem;
 font: 600 1.2rem Poppins, sans-serif; 
 white-space: pre;
 opacity: 0;
}

.timeline li:nth-child(odd) >.title{ 
  top: -2.4rem;
}

.timeline li:hover .title { 
  opacity: 1;
}

.data{ 
  width: 1.3rem; 
  height: 1.3rem; 
  background-color: #000000; 
  color: #fff; 
  border-radius: 50%; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  overflow: hidden; 
  transition: .3s ease;
}

.timeline li:hover .data { 
  background-color: var(--primary-color); 
  --scale: 1.2; 
  cursor: pointer;
  z-index: 200;
}

.data.show{ 
  width: 22rem; 
  height: 22rem; 
  border-radius: 1rem; 
  padding: 1rem; 
  background-image: linear-gradient(45deg, var(--primary-color), rgb(45, 79, 204));
  box-shadow: 2rem 2rem 1rem #0004; 
  z-index: 100;
}

.data h3{ 
  text-transform: capitalize;
}

.data p{ 
  background-color: #fff3; 
  padding: 1rem; 
  border-radius: 1rem;
  margin-left: 0.7rem;
}

.data.show p{ 
  margin-left: 0;
}

.data.close{ 
  /*width: 1.3rem; 
  height: 1.3rem; 
  background-color: #888; 
  color: #fff; 
  border-radius: 50%; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  position: absolute; 
  top: -1.5rem; 
  right: -1.5rem;
  cursor: pointer;*/ 
  align-self: flex-start; 
  background-color: #00a1ff;
  padding: .5rem .8rem; 
  border-radius: 2rem; 
  font-size: 1rem;
}

